@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@theme {
  --font-display: "Anton", sans-serif;
  --font-body: "Poppins", sans-serif;

  --color-accent: #5b9fec;
  --color-dark-900: #080810;
  --color-dark-800: #0f0f13;
  --color-dark-700: #111118;
  --color-dark-600: #1a1a24;
  --color-dark-500: #4d4d4d;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}